torch>=1.10.0
pandas>=1.3.3
openTSNE>=0.6.1
transformers>=4.4.2
matplotlib>=3.4.3
prefetch-generator>=1.0.1
prettytable>=2.4.0
tensorboard>=2.7.0
tqdm>=4.62.3
nltk>=3.5
PyYAML>=5.4.1
mongoengine>=0.23.1
