absl-py==1.0.0
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
cycler==0.11.0
filelock==3.4.2
fonttools==4.28.5
google-auth==2.3.3
google-auth-oauthlib==0.4.6
grpcio==1.43.0
huggingface-hub==0.4.0
idna==3.3
importlib-metadata==4.10.1
joblib==1.1.0
kiwisolver==1.3.2
Markdown==3.3.6
matplotlib==3.5.1
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626179032232/work
mkl-service==2.4.0
mongoengine==0.23.1
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1634106693478/work
oauthlib==3.1.1
openTSNE==0.6.1
packaging==21.3
pandas==1.3.5
Pillow==9.0.0
prefetch-generator==1.0.1
prettytable==3.0.0
protobuf==3.19.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pymongo==3.12.3
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
regex==2022.1.18
requests==2.27.1
requests-oauthlib==1.3.0
rsa==4.8
sacremoses==0.0.47
scikit-learn==1.0.2
scipy==1.7.3
six @ file:///tmp/build/80754af9/six_1623709665295/work
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
threadpoolctl==3.0.0
tokenizers==0.10.3
torch==1.7.0
tqdm==4.62.3
transformers==4.15.0
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
urllib3==1.26.8
wcwidth==0.2.5
Werkzeug==2.0.2
zipp==3.7.0
